.detail-cours__content {
  margin: 1rem 0;
  background: rgba(1, 0, 21, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  color: white;
}
.detail_cours__etudiant {
  align-items: center;
}
